{{ define "preload" }}

{{ where .Pages "Type" "in" site.Params.mainSections | .Paginate | .Scratch.Set "paginator" }}
{{ range (.Scratch.Get "paginator").Pages }}
{{ with .Content }}{{ end }}
{{ .Scratch.Get "css" | $.Scratch.Set "css" }}
{{ .Scratch.Get "js" | $.Scratch.Set "js" }}
{{ end }}

{{ end }}

{{ define "main" }}

{{ range (.Scratch.Get "paginator").Pages }}
<article>
  {{ partial "heading.html" . }}
  {{ with .Resources.ByType "image" }}
    <div class="thumbnails">
        {{ range . }}
            {{ $thumbnail := .Fit "300x200" }}
            <div class='Gallery__item'>
                <a href="{{ .RelPermalink }}"><img src="{{ $thumbnail.RelPermalink }}" /></a>
            </div>
        {{ end }}
    </div>
  {{ end }}
  {{ .Content }}
  {{ partial "tags.html" . }}
</article>
{{ end }}
{{ .Scratch.Get "paginator" | partial "pagination.html" }}

{{ end }}
